.page
	display: block
	width: 100vw
	height: 100vh
	flex-shrink: 0
	overflow: hidden
	&.active
		overflow-y: auto
	> *:first-child
		margin-top: 0

	img
		margin: 30px
		@media (max-width: 1040px)
			margin: 30px 0
			width: 100%
			height: auto
			

.outer_page
	width: calc(100vw - 10px)
	padding: 140px 30px 30px 30px
	box-sizing: border-box

.inner_page
	max-width: 1040px
	margin: 0 auto